.homeBlock{
  margin: 0px !important;
  padding: 0px !important;
  bottom: 0px !important;
  position: relative;
}

.navBar {
    background-color: #372266;
}

.logo-area{
  margin: 5%;
  text-align: center;
}



.menus{
    background: #372266;
    color: #626e85;
    min-height: calc( 100vh - 100px) !important;
    height: calc( 100vh - 20px) !important;
    /* min-height: calc(100vh - 96px);*/
    /* height: 100%;   */
    
  }.menus ul{
    background: #372266;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0px;
  }
  .menus li{
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
    border-bottom: 1px solid #936eb4;
  }
  .menus li img{
    height: 45px;
    width: 45px;
    margin-left: 20px;
  }


.menus>ul>li:hover .description-line {
    border-right: 2px solid #dfad3e;
    height: 30px;
    /* align-items: right; */
    /* padding-left: 38%; */
  }
  
  .menus>ul>li:hover .menu-img-1 { 
    cursor: pointer;
    /* background-image: url('../../images/Menu/Mousover/Notification_Icon.svg'); */
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* overflow: auto; */
    /* padding-left: 25px; */
    height: 42px;
    width: 30px;
  }
  .menus>ul>li:hover .menu-img-2 { 
    cursor: pointer;
    background-image: url('../../images/Menu/Mousover/Orders_Icon.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
    padding-left: 25px;
    height: 42px;
    width: 50px;
  }

  .menus>ul>li:hover .menu-img-3 { 
    cursor: pointer;
    background-image: url('../../images/Menu/Mousover/Make_Payments_Icon.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
    padding-left: 25px;
    height: 42px;
    width: 50px;
  }

  .menus>ul>li:hover .menu-img-4 { 
    cursor: pointer;
    background-image: url('../../images/Menu/Mousover/Clients_Icon_Mousehover .svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
    padding-left: 25px;
    height: 42px;
    width: 50px;
  }

  .menus>ul>li:hover .menu-img-5 { 
    cursor: pointer;
    background-image: url('../../images/Menu/Mousover/Order_Now_Icon.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
    /* padding-left: 25px; */
    height: 42px;
    width: 50px;
  }

  .menus>ul>li:hover .description {
    text-decoration: none;
    cursor: pointer;
    color: #dfad3e;
    width:100%;
  }