.login-background{
    background: url('../../images/Login/BG_Login.jpg') no-repeat center center fixed; 
   /* height : 700px;
   width : 1280px; */
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.login-fields-block{
    width: 35%;
    height: 70vh;
    background: #fff;
    color: #713eb4;
    text-align: center;
    margin: auto;
    position: relative;
    top: 15%;
}

.padding-30{
    padding: 30px;
}

.my-email{
    width:90%;
    margin-top: 15%;
    padding-left: 10%;
}
.my-password{
    width:90%;
    margin-top: 5%;
    padding-left: 10%;
}

.login-button{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    background: #382871;
    color: #fff;
    margin-top: 10%;
}

@media screen and (max-width: 767px) {
    .login-background{
        background: url('../../images/Login/BG_Login.jpg'); 
       /* height : 700px;
       width : 1280px; */
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100% !important;
    }
    
    
    .login-fields-block{
        width: 80%;
        height: 70vh;
        background: #fff;
        color: #713eb4;
        text-align: center;
        margin: auto;
        position: relative;
        top: 10%;
    }

    .padding-30{
        padding: 15px;
    }
    
}

/* Landscape */
@media (max-width: 1280px) and (orientation: landscape) { 
    .login-background{
        background: url('../../images/Login/BG_Login.jpg'); 
       /* height : 700px;
       width : 1280px; */
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100% !important;
    }
    
    
    .login-fields-block{
        width: 80%;
        height: 70vh;
        background: #fff;
        color: #713eb4;
        text-align: center;
        margin: auto;
        position: relative;
        top: 5%;
    }

    .padding-30{
        padding: 10px;
    }


}

@media screen and (min-width: 768px) {
   
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .login-background{
        background: url('../../images/Login/BG_Login.jpg'); 
       /* height : 700px;
       width : 1280px; */
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100% !important;
    }
    
    
    .login-fields-block{
        width: 80%;
        height: 70vh;
        background: #fff;
        color: #713eb4;
        text-align: center;
        margin: auto;
        position: relative;
        top: 10%;
    }

    .padding-30{
        padding: 10%;
       
    }

    
  }











/* floating input fields  */
input:focus {
    color: #713eb4 !important;
  }


/* Input form css */
.has-float-label {
    display: block;
    position: relative;
  }
  .has-float-label label, .has-float-label > span {
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    font-size: 14px;
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
    color:#898788; 
  }
  .has-float-label select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .has-float-label input, .has-float-label select {
    font-size: inherit;
    padding-top: 1em;
     width: 100%;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #713eb4;
    touch-action: manipulation;
  }
  .has-float-label input::-webkit-input-placeholder, .has-float-label select::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
    color: #713eb4;
  }
  .has-float-label input::-moz-placeholder, .has-float-label select::-moz-placeholder {
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .has-float-label input:-ms-input-placeholder, .has-float-label select:-ms-input-placeholder {
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .has-float-label input::placeholder, .has-float-label select::placeholder {
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .has-float-label input:placeholder-shown:not(:focus)::-webkit-input-placeholder, .has-float-label select:placeholder-shown:not(:focus)::-webkit-input-placeholder {
    opacity: 0;
  }
  .has-float-label input:placeholder-shown:not(:focus)::-moz-placeholder, .has-float-label select:placeholder-shown:not(:focus)::-moz-placeholder {
    opacity: 0;
  }
  .has-float-label input:placeholder-shown:not(:focus):-ms-input-placeholder, .has-float-label select:placeholder-shown:not(:focus):-ms-input-placeholder {
    opacity: 0;
  }
  .has-float-label input:placeholder-shown:not(:focus)::placeholder, .has-float-label select:placeholder-shown:not(:focus)::placeholder {
    opacity: 0;
  }
  .has-float-label input:placeholder-shown:not(:focus) + *, .has-float-label select:placeholder-shown:not(:focus) + * {
    font-size: 15px;
    opacity: 1.5;
    top: .25em;
    color: #010101;
    font-family: "PTC55F";
  }
  .has-float-label input:focus, .has-float-label select:focus {
    outline: none;
    border-color: #713eb4;
  }
